DJANGO_DEBUG=False
DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=shop.matty-dev.com,134.122.99.3
DJANGO_CSRF_TRUSTED_ORIGINS=https://shop.matty-dev.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
STRIPE_SECRET_KEY=sk_test_replace_with_your_test_secret_key
STRIPE_WEBHOOK_SECRET=whsec_replace_with_your_test_webhook_secret
STRIPE_CURRENCY=gbp
